try-import %workspace%/asphr/.bazelrc

try-import %workspace%/.buildbuddy.bazelrc
build --workspace_status_command=$(pwd)/status.sh

# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# Optionally override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
