HeaderFilterRegex: \./.+
Checks:
  '*,
  -cppcoreguidelines-init-variables,
  -google-readability-todo,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -hicpp-*,
  -clang-diagnostic-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -fuchsia-*,
  -altera-*,
  -google-build-using-namespace,
  -clang-analyzer-alpha.clone.CloneChecker,
  -google-runtime-int,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -clang-analyzer-alpha.deadcode.UnreachableCode,
  -misc-use-after-move,
  -misc-definitions-in-headers,
  -misc-unused-using-decls,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-emplace,
  -readability-identifier-length,
  -cert-err60-cpp'
