[submodule "research/whitepaper"]
	path = research/whitepaper
	url = git@github.com:anysphere/whitepaper
[submodule "research/security-definition"]
	path = research/security-definition
	url = git@github.com:anysphere/security-definition
[submodule "third_party/seal/SEAL"]
	path = asphr/third_party/seal/SEAL
	url = https://github.com/anysphere/SEAL
[submodule "third_party/libsodium/libsodium"]
	path = asphr/third_party/libsodium/libsodium
	url = https://github.com/anysphere/libsodium

