[submodule "website/anysphere-pages"]
	path = website/anysphere-pages
	url = git@github.com:anysphere/anysphere-pages
[submodule "non_code/emails/kerberi"]
	path = non_code/emails/kerberi
	url = git@github.com:arvid220u/kerberi
[submodule "client"]
	path = client
	url = https://github.com/anysphere/client
[submodule "asphr"]
	path = asphr
	url = https://github.com/anysphere/asphr
