<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.anysphere.client</string>
		<key>Program</key>
		<string>/Users/sualeh/code/anysphere/bazel-bin/client/src/anysphere</string>
		<key>RunAtLoad</key>
		<true/>
        <key>StandardOutPath</key>
        <string>/Users/sualeh/code/anysphere/client/logs/as.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/sualeh/code/anysphere/client/logs/as.err</string>
	</dict>
</plist>