@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.draggable {
  -webkit-app-region: drag;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

/* include codicons css */
@import "../../node_modules/@vscode/codicons/dist/codicon.css";
