/*
 * Copyright 2022 Anysphere, Inc.
 * SPDX-License-Identifier: GPL-3.0-only
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* include codicons css */
@import "../../node_modules/@vscode/codicons/dist/codicon.css";

.draggable {
  -webkit-app-region: drag;
}

.unselectable {
  user-select: none;
}

@font-face {
  font-family: Lora;
  src: url("../../assets/fonts/Lora-Regular.ttf") format("truetype");
}
